.boxContainer-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

#box-3D {
    margin: 0 auto;
}

.box-stepOne {
    position: absolute;
    top: 20%;
    width: 320px;

    .name-your-box,
    .name-the-person {
        padding-top: 2em;
        position: relative;
        overflow: hidden;
        margin-bottom: 1em;
    }

    #boxname,
    #creator {
        width: 100%;
        border: 2px solid gray;
        background: none;
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        padding: 8px 12px;
        outline: 0;
        &:valid {
            // Hides the label
            background: white;
        }
        &:focus {
            border-color: var(--color);
            border-radius: 7px;
        }
        &:focus + label {
            background: var(--color);
            color: white;
            font-size: 70%;
            padding: 1px 6px;
            z-index: 2;
            text-transform: uppercase;
            border-radius: 8px;
        }
    }

    .label-name,
    .label-creator {
        transition: // not padding
            background 0.6s, color 0.6s, top 0.5s, bottom 0.5s, right 0.5s,
            left 0.5s;
        position: absolute;
        color: rgb(64, 64, 64);
        padding: 7px 6px;
    }
    textarea {
        display: block;
        resize: vertical;
    }
}

.box-stepOne {
    input,
    textarea {
        padding: 12px 12px 12px 12px;
        font-size: 1.1em;
    }
    label {
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    input:focus,
    textarea:focus {
        padding: 4px 6px 20px 6px;
    }
    input:focus + label,
    textarea:focus + label {
        top: 100%;
        margin-top: -16px;
    }
}
form.go-right {
    label {
        top: 2px;
        right: 100%;
        width: 100%;
        margin-right: -100%;
        bottom: 2px;
    }
    input:focus + label,
    textarea:focus + label {
        right: 0;
        margin-right: 0;
        width: 40%;
        padding-top: 5px;
    }
}
.submit_box {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: var(--font-family);
    height: fit-content;
    font-size: 1em;
    width: fit-content;
    padding: 0.4em;

    background: transparent;
    border: 1px solid black;
    cursor: pointer;
}
.submit_box:hover {
    border: 1px solid var(--color);
}

.h3_box {
    margin: 0;
    text-decoration: underline;
    margin-bottom: 0.5em;
}
.h2_box {
    text-align: center;
}
.div_button {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    z-index: 1;
}

.custom-select {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.size-choice {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.313);
    text-align: center;
    font-family: var(--font-family);
    font-size: 1.4em;
    z-index: 1;
    height: 2em;
}
.container_box_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5vh;
}

#makerbox {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.container_makerbox {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.logalert {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 13%;

    h2 {
        margin-bottom: 2em;
        @include for-mobile {
            text-align: center;
            margin-bottom: 1em;
        }
    }

    h3 {
        margin-bottom: 2em;
        @include for-mobile {
            text-align: center;
        }
    }
}

.boxMaker-connect {
    padding: 1em 3em !important;
}

#boxmakerstep{
    width: 100% !important;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .container_box_select{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    gap: 50px;
    flex-flow: row nowrap;
    height: 80%;
}
.box_span{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.btn_boxmaker{
  color: rgb(0, 0, 0);
  font-size: 1.5em;
    font-family: "Antonio", sans-serif !important;
    font-size: 1.4em;
  background-color: white;
  border : 1px solid black;
  width: 6em;
  height: 2em;
  cursor: pointer;
}

.addon {
    gap: 2em;
}

.container_makerbox_end{
    margin-top: 20%;
    display: flex;
    justify-content: center;
    @include for-mobile {
        margin-top: 60%;
    }
  }
    .container_box_info_end{
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      background-color: white;
      border: 1px solid white;
      border-radius: 3%;
      width: fit-content;
      height: fit-content;
      padding: 1em;
      box-shadow: 5px 10px 5px #888888;
    }

@include for-mobile {
    .boxmaker-main {
        width: 100% !important;
        box-sizing: border-box !important;
        overflow-x: hidden;
    }

    .wrapper {
        width: 100% !important;
    }

    #box-3D {
        width: 100% !important;
    }

    .texture-display{
        margin: 0 1em;
    }

    #texture-choice {
        width: 100%;
    }
    .color-display {
        display: none !important;
    }
    .color-display-right {
        margin-left: 2em;
    }

    .addon {
        display: none !important;
    }
    .container_box_select {
        margin: 0 0.5em;
    }
    .btn_boxmaker {
        width: 9em;
    }
}