.website-footer {
    height: 100px;
    width: 100%;
    background-color: #e5e4e2;
    position: absolute;
    bottom: 0;
    @include for-mobile {
        height: 80px;
    }

    .first-line {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 1.3em;
        padding: 15px 0;

        .brand-logo {
            display: flex;
            align-items: center;
            @include for-mobile {
                display: none;
            }

            .footer-logo {
                height: 40px;
                width: 40px;
            }
        }
        .all-pages {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 35%;
            @include for-mobile {
                width: 100%;
                justify-content: space-around;
            }

            a {
                color: black;
                cursor: pointer;
                position: relative;
                display: inline-block;
                @include for-mobile {
                    font-size: 0.7em;
                }
            }

            a:hover {
                color: var(--color);
            }
            a:after {
                content: "";
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: -2px;
                left: 0;
                background-color: var(--color);
                transform-origin: bottom right;
                transition: transform 0.2s ease-out;
            }
            a:hover:after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
        .something {
            a {
                color: black;
                cursor: pointer;
                position: relative;
                display: inline-block;
                @include for-mobile {
                    font-size: 0.7em;
                }
            }
            a:hover {
                color: var(--color);
            }
            a:after {
                content: "";
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: -2px;
                left: 0;
                background-color: var(--color);
                transform-origin: bottom right;
                transition: transform 0.2s ease-out;
            }
            a:hover:after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }

            @include for-mobile {
                display: none;
            }
        }
    }

    .second-line {
        text-align: center;

        .copyright {
            font-size: 0.8em;
        }
    }
}
