* {
    // box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #e6eaf5 0%, #f6f6f6 80%);
    position: relative;
}

.product-arrangement,
.account-page,
.container-basket,
.boxContainer-page,
.container_makerbox,
.checkout-page,
.cd-nav,
#menu_btn,
.website-footer,
.product-page,
.about-page,
.support-page,
.tuto {
    font-family: var(--font-family);
}

//title global variant

h1 {
    font-family: var(--font-family);
    font-style: "italic";
    color: #235233;
}

h2 {
    font-family: var(--font-family);
    font-size: 2.5em;
    margin: 1.5em auto 0.5em;
    // color: $color1;
}

h3 {
    font-family: var(--font-family);
    font-size: 2em;
    margin: 1em auto 0;
    color: $color2;
}

h4 {
    font-family: var(--font-family);
    font-size: 1.5em;
    margin: 0.5em auto;
}

//global button

#button,
#buton,
#buttonn {
    color: black;
    background: transparent;
    border: $border;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 0.4em 2em;
}

#button:hover {
    background-color: rgba(229, 228, 226, 0.4);
}

//delete button for cart & alert

#delete {
    border: 0;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    @include for-mobile {
        font-size: 1em;
    }
    opacity: 0.4;

    filter: drop-shadow(0px 0px 2px rgb(255, 0, 0));
}

#delete:hover {
    opacity: 1;
}

p {
    font-size: 1.2em;
    @include for-mobile {
        font-size: 1em;
    }
}

input,
textarea {
    font-family: "Courier Prime", monospace;
}

//alert

.alert {
    position: fixed;
    z-index: 20;
    top: 4em;
    right: 0;
    text-align: center;
    font-weight: bold !important;
    font-family: var(--font-family);
    width: 20em;
    padding: 1em;
    border-radius: 0.7em 0 0 0.7em;
    animation: alert-slide 0.2s ease;
    @include for-mobile {
        width: 15em;
    }

    @keyframes alert-slide {
        0% {
            transform: translateX(15em);
        }
        100% {
            transform: translateX(0);
        }
    }

    .close {
        position: absolute;
        top: 9px;
        left: 0.3em;
        border: 0;
        background: transparent;
        z-index: 20;
        font-size: 2em;
        font-weight: bold;
        opacity: 0.2;
        cursor: pointer;
    }
    .close:hover {
        opacity: 1;
    }
}

.alert-succes {
    color: white;
    background-color: green;
}

.alert-error {
    color: white;
    background-color: red;
}

//price ribbon for products

.ribbon {
    --f: 1.5em;
    --r: 20px;
    --t: 10em;
    height: 4em;
    width: 11em;
    position: absolute;
    inset: var(--t) calc(-1 * var(--f)) auto 44.5em;
    padding: 0 10px var(--f) calc(10px + var(--r));
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - var(--f)),
        calc(100% - var(--f)) 100%,
        calc(100% - var(--f)) calc(100% - var(--f)),
        0 calc(100% - var(--f)),
        var(--r) calc(50% - var(--f) / 2)
    );
    background: var(--color);
    box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;

    p {
        position: relative;
        left: 0;
        font-weight: bold;
        font-size: 1.5em;
        color: #fefee2;
    }

    @include for-mobile {
        height: 3em;
        width: 10em;
        --f: 0.5em;
        --t: 32%;
        inset: var(--t) calc(-1 * var(--f)) auto 57%;
    }
}

//website scrollbar

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.515);
    border-radius: 2.5px;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
