.loading {
    background-color: aqua;
}

//page loader

#loader {
    width: 100%;
    height: 100vh;
    background: rgb(201, 198, 197, 0.5) !important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 3;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots div {
    height: 100px;
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
    animation: rotate360 1.2s ease infinite;
    width: 5px;
    animation-delay: calc(70ms * var(--d));
}

@keyframes rotate360 {
    0% {
        /*        width: 5px;*/
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        width: 5px;
    }
}
