ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
#menu_btn {
    border: 2px solid rgba(151, 0, 156, 0.3);
    font-size: 20pt;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 3px;
    background: white;
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
    cursor: pointer;
}
#menu_btn:hover {
    border: 2px solid rgba(207, 0, 214, 0.3);
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.815);
}
#logo_btn:hover {
    filter: drop-shadow(1px 1px 20px #ffffff);
}
/* -------------------------------- 

Primary style

-------------------------------- */
*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {
    /* prevent horizontal scrolling */
    overflow-x: hidden;
}

a {
    color: #9cb3a8;
    text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

main {
    position: relative;
    z-index: 2;
    /* fix bug on iOS */
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    background-color: #e6eaf5;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    -moz-transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
    transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}
main h1,
main p {
    text-align: center;
}
main h1 {
    font-size: 2.6rem;
    margin-bottom: 1em;
}
main p {
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}
.navigation-is-open main {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
}
@media only screen and (min-width: 768px) {
    main h1 {
        font-size: 3.6rem;
    }
}

.cd-nav-trigger {
    position: fixed;
    z-index: 3;
    left: 5%;
    top: 20px;
    height: 54px;
    width: 54px;
    background-color: #242040;
    border-radius: 50%;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
}
.cd-nav-trigger .cd-nav-icon {
    /* icon created in CSS */
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 22px;
    height: 2px;
    background-color: #ffffff;
}
.cd-nav-trigger .cd-nav-icon::before,
.cd-nav-trigger .cd-nav-icon:after {
    /* upper and lower lines of the menu icon */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.5s, width 0.5s, top 0.3s;
    -moz-transition: -moz-transform 0.5s, width 0.5s, top 0.3s;
    transition: transform 0.5s, width 0.5s, top 0.3s;
}
.cd-nav-trigger .cd-nav-icon::before {
    -webkit-transform-origin: right top;
    -moz-transform-origin: right top;
    -ms-transform-origin: right top;
    -o-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px);
}
.cd-nav-trigger .cd-nav-icon::after {
    -webkit-transform-origin: right bottom;
    -moz-transform-origin: right bottom;
    -ms-transform-origin: right bottom;
    -o-transform-origin: right bottom;
    transform-origin: right bottom;
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -o-transform: translateY(6px);
    transform: translateY(6px);
}
.no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
    top: 2px;
}
.no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
    top: -2px;
}
.cd-nav-trigger svg {
    position: absolute;
    top: 0;
    left: 0;
}
.cd-nav-trigger circle {
    /* circle border animation */
    -webkit-transition: stroke-dashoffset 0.4s 0s;
    -moz-transition: stroke-dashoffset 0.4s 0s;
    transition: stroke-dashoffset 0.4s 0s;
}
.navigation-is-open .cd-nav-trigger {
    /* rotate trigger when navigation becomes visible */
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
    /* animate arrow --> from hamburger to arrow */
    width: 50%;
    -webkit-transition: -webkit-transform 0.5s, width 0.5s;
    -moz-transition: -moz-transform 0.5s, width 0.5s;
    transition: transform 0.5s, width 0.5s;
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after,
.no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
    top: 0;
}
.navigation-is-open .cd-nav-trigger circle {
    stroke-dashoffset: 0;
    -webkit-transition: stroke-dashoffset 0.4s 0.3s;
    -moz-transition: stroke-dashoffset 0.4s 0.3s;
    transition: stroke-dashoffset 0.4s 0.3s;
}
@media only screen and (min-width: 1170px) {
    .cd-nav-trigger {
        top: 40px;
    }
}

.cd-nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(50, 67, 90);
    visibility: hidden;
    -webkit-transition: visibility 0s 0.7s;
    -moz-transition: visibility 0s 0.7s;
    transition: visibility 0s 0.7s;
}
.cd-nav .cd-navigation-wrapper {
    /* all navigation content */
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 40px 5% 40px calc(5% + 80px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: -webkit-transform 0.7s;
    -moz-transition: -moz-transform 0.7s;
    transition: transform 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}
.navigation-is-open .cd-nav {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
}
.navigation-is-open .cd-nav .cd-navigation-wrapper {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    -moz-transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
    transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}
.cd-nav h2 {
    position: relative;
    margin-bottom: 1.7em;
    font-size: 2rem;
    font-weight: 800;
    color: #080b0f !important;
    text-transform: uppercase;
}
.cd-nav h2::after {
    /* bottom separation line */
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 1px;
    width: 60px;
    background-color: currentColor;
}
.cd-nav .cd-primary-nav {
    margin-top: 60px;
}
.cd-nav .cd-primary-nav li {
    margin: 1.6em 0;
}
.cd-nav .cd-primary-nav a {
    font-family: "Merriweather", serif;
    font-size: 2.4rem;
    color: rgba(255, 255, 255, 0.3) !important;
    display: inline-block;
}
.cd-nav .cd-primary-nav a.selected {
    color: #ffffff !important;
}
.no-touch .cd-nav .cd-primary-nav a:hover {
    color: #ffffff !important;
}
.cd-nav .cd-contact-info {
    margin-top: 80px;
}
.cd-nav .cd-contact-info li {
    font-family: "Merriweather", serif;
    margin-bottom: 1.5em;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.3) !important;
}
.cd-nav .cd-contact-info a {
    color: #ffffff !important;
}
.cd-nav .cd-contact-info span {
    display: block;
}
.cd-nav .cd-contact-info li,
.cd-nav .cd-contact-info a,
.cd-nav .cd-contact-info span {
    font-size: 1.6rem;
}
@media only screen and (min-width: 1170px) {
    .cd-nav .cd-navigation-wrapper {
        padding: 62px 20%;
    }
    .cd-nav .cd-navigation-wrapper::after {
        clear: both;
        content: "";
        display: table;
    }
    .cd-nav .cd-half-block {
        width: 50%;
        float: left;
        @include for-mobile {
            width: 90%;
        }
    }
    .cd-nav .cd-primary-nav {
        margin-top: 0;
    }
    .cd-nav h2 {
        font-size: 1.5rem;
        margin-bottom: 2em;
    }
    .cd-nav .cd-primary-nav li {
        margin: 1em 0em;
    }
    .cd-nav .cd-primary-nav a {
        font-size: 4.4rem;
    }
    .cd-nav .cd-contact-info {
        margin-top: 120px;
        text-align: right;
    }
    .cd-nav .cd-contact-info li {
        margin-bottom: 2.4em;
    }
    .cd-nav .cd-contact-info li,
    .cd-nav .cd-contact-info a,
    .cd-nav .cd-contact-info span {
        font-size: 2rem;
    }
}

.no-js main {
    height: auto;
    overflow: visible;
}

.no-js .cd-nav {
    position: static;
    visibility: visible;
}
.no-js .cd-nav .cd-navigation-wrapper {
    height: auto;
    overflow: visible;
    padding: 100px 5%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.logo_container {
    position: absolute;
    left: 5%;
    top: 30%;
    transform: translateY(-50%);
}

.container_account_basket {
    position: absolute;
    z-index: 1;
    right: 1%;
    top: 45%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.link {
    display: flex;
    flex-direction: column;
}
.img_link {
    width: 100px;
    height: 100px;
    filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.6));
}
* {
    box-sizing: border-box;
}
.count-basket {
    position: absolute;
    bottom: 0;
    font-size: 2em;
    left: 50%;
    transform: translateX(-50%) !important;
    font-family: "Inter var", sans-serif !important;
}

.login-home {
    font-size: 1.5em;
    font-family: "Inter var", sans-serif !important;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%) !important;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 1));
}

.responsive-laptop {
    display: none;
}

#item1 {
    grid-column-end: span 2;
}

address {
    h2 {
        display: none;
    }
}

// Search bar

.search-bar {
    display: flex;
    justify-content: flex-start;
}

.search_img {
    width: 25px;
    height: 25px;
    transform: translateY(8px);
}
.search-button {
    background: none;
    border: none;
}
.search_bar_input {
    height: 30px;
    border: solid 2px rgba(128, 26, 141, 0.603);
}

@include for-mobile {
    .cd-navigation-wrapper {
        width: 100%;
        padding: 100px 2% !important;
    }

    .logo_container {
        position: relative;
        top: -3em;
        left: 82%;
        height: fit-content;
        width: fit-content;
        margin: 0 !important;
    }
    #logo_btn {
        height: 5em;
        width: 3em;
    }

    #nav-responsive {
        display: none;
    }

    .img_link {
        height: 5em;
        width: 3em;
    }

    .cd-primary-nav {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 2em 0.5em;

        li {
            height: fit-content;
            margin: 0 !important;
        }

        #menu_btn {
            font-size: 0.5em;
            width: 8em;
            -webkit-text-fill-color: rgb(0, 0, 0) !important;
        }
    }

    address {
        h2 {
            display: block;
            margin: 1em 0 0.5em !important;
        }
    }

    .cd-contact-info {
        margin-top: 40px !important;
    }

    .responsive-laptop {
        display: block;
    }

    .cart {
        display: none;
    }
    .count-basket {
        display: none;
    }

    .search-bar {
        position: absolute;
        top: 9em;
    }
}
