.title-category {
    text-align: center;
    margin-bottom: 2em;
}

.research-result {
    text-align: center;
    margin-bottom: 2em;
}
.product-arrangement {
    padding: 0 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 2em;
    @include for-mobile {
        flex-direction: column;
    }

    .product-card {
        height: 30em;
        flex-basis: 21%;
        border-radius: 2em;
        overflow: hidden;
        box-shadow: 5px 20px 30px rgb(0 0 0 / 20%);
        @include for-mobile {
            width: 100%;
            margin-bottom: 2em;
            border-radius: 1em;
        }

        .product-image {
            height: 73%;
            width: 100%;
            border-bottom: 1px solid;
            position: relative;
            text-align: center;

            .img-product-card {
                height: 100%;
                width: auto;
            }

            .prod-card-information {
                transition: all 0.5s, border-radius 2s, top 1s;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                backdrop-filter: blur(5px);
                -webkit-backdrop-filter: blur(5px);
                visibility: hidden;
                opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;

                .litle-description {
                    margin: 0 auto;
                    @include for-mobile {
                        width: 90%;
                    }
                }

                span {
                    margin-top: 1.5em;

                    .card_dimension {
                        height: 40px;
                        width: 40px;
                    }

                    .card_weight {
                        height: 40px;
                        width: 45px;
                    }
                }
            }
        }
        .product-image:hover .prod-card-information {
            visibility: visible;
            opacity: 1;
        }

        .product-content {
            height: 27%;
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;

            .product-information {
                padding: 0.7em;

                .product-name {
                    margin: 0 auto 0.5em;
                }

                .product-price {
                    font-size: 1.2em;
                    font-weight: bold;
                    color: red;
                }
            }

            .to-cart {
                padding: 1em;
                border-left: 1px solid;

                .img-to-cart {
                    height: 3em;
                    width: 4em;
                }
                .img-to-cart:hover {
                    transition: 0.2s;
                    scale: 1.2;
                }
            }
        }
    }
}

.account-page {
    margin-top: 2em;

    .title_info {
        text-align: center;
    }

    .logout-btn {
        display: flex;
        justify-content: flex-end;
        margin: 0 2em;

        .logout_text {
            text-align: center;
            font-size: 1.5em;
            color: red;
            text-decoration: none;
            border: 1px solid red;
            border-radius: 0.5em;
            padding: 0.2em;
            margin-top: 0.5em;
        }
        .logout_text:hover {
            color: white;
            background-color: #dc143c;
        }
    }
    .input:read-only:after {
        content: "Subscribe!";
        /* ... */
    }

    input:read-only {
        background-color: #aaa;
        border: 1px solid #888;
    }

    input:read-only:hover {
        cursor: not-allowed;
    }
    .container_account {
        display: grid;
        grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: ". doll form . .";
        @include for-mobile {
            grid-template-columns: auto;
        }

        .account {
            grid-area: form;

            .user_info {
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                padding: 20px;
                width: 30em;
                @include for-mobile {
                    width: 100%;
                    padding-bottom: 0;
                }

                .container_info {
                    .checkout-label_info {
                        font-size: 1.5em;
                    }

                    .container_input {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-areas: ". input img";

                        .input_info {
                            border: 0;
                            border-bottom: 2px solid gray;
                            border-image: linear-gradient(
                                to right,
                                rgb(0, 158, 5),
                                black,
                                rgb(3, 135, 21)
                            );
                            border-image-slice: 1;
                            width: 100%;
                            text-align: center;
                            margin-top: 0.5em;
                            grid-area: input;
                            width: 15em;
                        }
                        .input_info[type="text"] {
                            font-size: 1em;
                        }
                        .input_info:focus {
                            border-width: 5px;
                            border-bottom: 2px solid gray;
                            border-image: linear-gradient(
                                to right,
                                rgb(218, 0, 247),
                                rgba(0, 0, 0, 0.797),
                                rgb(218, 0, 218)
                            );
                            border-image-slice: 1;
                            outline: none;
                        }

                        .modify_tool {
                            height: 40px;
                            width: 40px;
                            transform: rotate(-30deg);
                            filter: drop-shadow(2px 2px 2px #0000007f);
                            grid-area: img;
                            cursor: pointer;
                        }
                        .modify_tool:hover {
                            filter: drop-shadow(3px 3px 3px #000000cf);
                        }
                    }
                }

                .submit_info {
                    font-size: 1.3em;
                    margin: auto;
                    padding: 0.2em 1em;
                }
            }
        }
    }
}

.support-page {
    text-align: center;
    @include for-mobile {
        margin-bottom: 0;

        h2 {
            margin-top: 0.5em;
        }
    }

    .img-support {
        max-width: 150px;
        height: auto;
        position: absolute;
        top: 30%;
        z-index: 10;
        @include for-mobile {
            width: 50px;
            height: 50px;
            top: 3%;
        }
    }
    .support-left {
        left: 10%;
        animation: anim2 4s infinite;
        transform: rotate(-20deg);
        @include for-mobile {
            display: none;
        }
    }
    .support-right {
        right: 10%;
        animation: anim 4s infinite;
    }

    .form-text {
        width: 40%;
        font-size: 1.5em;
        text-align: center;
        margin: 2em auto;
        color: black !important;
        @include for-mobile {
            width: 80%;
            font-size: 1.2em;
            margin: 0 auto;
        }
    }

    .form-support {
        background-color: #f8f8ff;
        box-shadow: 5px 20px 30px rgb(0 0 0 / 20%);
        border-radius: 2em;
        width: fit-content;
        display: grid;
        justify-items: center;
        text-align: center;
        padding: 1em;
        margin: auto;
        font-size: 1.5em;
        @include for-mobile {
            padding: 1em;
            margin: 0.5em auto;
            border-radius: 1em;
        }

        .first-half {
            display: grid;
            justify-content: center;
            grid-template-columns: auto auto;
            gap: 1em;
            @include for-mobile {
                grid-template-columns: auto;
                grid-template-rows: auto auto auto auto;
            }

            .input-support {
                width: 20em;
                border: $border;
                border-radius: 1em;
                box-shadow: 0 1px 1px rgba(157, 93, 234);
                padding: 1em 0.5em;
                outline: 0;
            }
        }

        .second-half {
            margin-top: 1em;
            width: 100%;
            @include for-mobile {
                width: 90%;
            }

            .message-support {
                width: 100%;
                height: 10em;
                border: $border;
                border-radius: 1em;
                box-shadow: 0 1px 1px rgba(157, 93, 234);
                padding: 1em;
                @include for-mobile {
                    height: 5em;
                }
            }

            .input-submit {
                width: 10em;
                height: 3em;
                margin: 1.5em auto 0;
                border: $border;
                box-shadow: 0 1px 1px rgba(157, 93, 234);
            }
        }
    }
}

.legal-mention-support,
.legal-mention-account {
    text-align: left;
    font-size: 0.5em;
    margin: 1em 0 0.5em;
    color: rgb(66, 66, 66);
}

.container-basket {
    margin: 0 5%;
    @include for-mobile {
        margin: 0;
    }

    h2 {
        text-align: center;
    }

    .basket,
    aside {
        margin: 3em 1em;
        box-sizing: border-box;
    }

    .basket {
        width: 70%;
        @include for-mobile {
            width: 95%;
            margin: 2em auto 0;
        }

        .item-list {
            width: 100%;
            border-collapse: collapse;
            @include for-mobile {
                width: 95%;
            }

            .table-head {
                width: 90%;
                height: 50px;

                .name-category {
                    width: 25%;
                }
            }

            .table-body {
                .board-line {
                    width: 100%;
                    border-top: $border;
                    font-size: 1.1em;
                    height: 60px;

                    .product-name-cart {
                        margin: auto;

                        .name-cart-prod {
                            color: black;
                            @include for-mobile {
                                font-size: 1em;
                            }
                        }
                    }

                    #row-product {
                        width: 25%;
                        text-align: center;
                        @include for-mobile {
                            width: 20%;
                        }
                    }

                    .product-quantity-cart {
                        .change-quantity {
                            display: flex;
                            background-color: #f8f8ff;
                            border: $border;
                            border-radius: 5px;
                            width: fit-content;
                            overflow: hidden;
                            margin: 15px auto;

                            .product-quantity {
                                border: none;
                                text-align: center;
                                width: 50px;
                                @include for-mobile {
                                    width: 30px;
                                }
                            }

                            .product-quantity::-webkit-inner-spin-button,
                            .product-quantity::-webkit-outer-spin-button {
                                appearance: none;
                                -webkit-appearance: none;
                                -moz-appearance: none;
                                -moz-appearance: textfield;
                            }

                            .value-button {
                                height: 30px;

                                button {
                                    border: none;
                                    background-color: transparent !important;
                                    height: 30px;
                                    width: 20px;
                                    font-size: 2em;
                                    font-family: var(--font-family);
                                    font-weight: bold;
                                    cursor: pointer;
                                    position: relative;
                                    top: -12px;
                                }
                            }
                        }
                    }

                    .delete-product {
                        position: relative;
                        top: 2px;
                        right: 1em;
                        @include for-mobile {
                            right: -5px;
                        }
                    }
                }
            }
        }
        .empty-cart {
            float: right;
            @include for-mobile {
                margin-top: 0.5em;
            }
        }

        .coupon-and-instruction {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            gap: 10%;
            margin-top: 2em;
            @include for-mobile {
                grid-template-columns: auto;
                // grid-template-rows: 1fr 1fr;
                text-align: center;
                gap: 2%;
            }

            h3 {
                margin-bottom: 0.5em;
            }

            .text-cart {
                font-size: 20px;
                text-align: left;
                color: black;
            }

            .input-coupon,
            .form-control {
                width: 75%;
                border: $border;
                box-shadow: 0 1px 1px rgba(157, 93, 234);
                border-radius: 1em;
                padding: 0.5em;
                margin: 1em 0;
                line-height: 1.5em;
                @include for-mobile {
                    width: 90%;
                }
            }

            .apply-button {
                font-size: 1em;
            }
        }
    }

    .item-summary {
        width: 350px;
        background-color: #f8f8ff;
        box-shadow: 5px 20px 30px rgb(0 0 0 / 20%);
        border-radius: 20px;
        padding: 1rem;
        position: fixed;
        right: 3em;
        top: 6em;
        text-align: center;
        @include for-mobile {
            position: static;
            width: 95%;
            margin: 2em auto 2em;
        }

        h4 {
            margin: 0 auto;
        }

        .subtotal-and-total {
            display: grid;
            grid-template-rows: 1fr;
            gap: 15px;
            margin: 20px auto;
            font-size: 1.1em;

            .subtotal-price,
            .total-price {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid;
                padding-top: 15px;
            }

            .total-price {
                font-size: 1.3em;
                margin-bottom: 15px;
            }
        }
        .delete-form {
            height: 1px;
        }
        .delete-coupon {
            position: relative;
            top: -2px;
            left: -95px;
            @include for-mobile {
                left: -85px;
                top: 0px;
            }
        }
    }
}

#empty-cart {
    text-align: center;
    margin: 15em 2em;
    @include for-mobile {
        margin: 10em 2em 0;
        display: flex;
        flex-direction: column;
    }

    .empty_cart {
        display: flex;
        justify-content: center;

        .empty_basket {
            width: fit-content;
            margin: 1em 0.5em;
            @include for-mobile {
                margin: 0;
            }
        }

        .shopping_girl {
            height: 10em;
            @include for-mobile {
                display: none;
            }
        }
    }

    .next-step {
        margin: 1.5em auto;
    }

    .start-purchase-btn {
        padding: 1em 3em;
        @include for-mobile {
            margin-bottom: 1em;
        }
    }
}

.product-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4em 5% 0;
    overflow-x: hidden;
    @include for-mobile {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .product-model-3D {
        @include for-mobile {
            h2 {
                text-align: center;
                margin-top: 0;
            }

            .date-creation-p {
                text-align: left;
            }
        }
        .product-name-p,
        .date-creation-p {
            display: none;
            @include for-mobile {
                display: block;
            }
        }
        .prod-img-3D {
            margin: 4.5em auto 0;
            @include for-mobile {
                width: 100%;
            }
        }
    }

    .product-content {
        h3 {
            margin-bottom: 0.5em;
        }

        .product-name-p,
        .date-creation-p {
            display: block;
            @include for-mobile {
                display: none;
            }
        }

        .date-creation-p,
        .product-description-page {
            text-align: left;
        }

        .description-page {
            @include for-mobile {
                text-align: center;
            }
            .product-description-page {
                @include for-mobile {
                    text-align: center;
                }
            }
        }
    }

    .characteristic-page {
        h3 {
            @include for-mobile {
                text-align: center;
            }
        }

        .button-characteristic {
            display: none;
            @include for-mobile {
                display: block;
                transform: rotate(90deg);
                font-size: 2em;
                position: relative;
                top: 2.8em;
                right: -4em;
            }
        }
    }

    .display-characteristic {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0.5em;
        @include for-mobile {
            grid-template-columns: auto;
            grid-template-rows: 1fr 1fr 1fr 1fr;
        }

        .characteristic {
            text-align: center;
            background-color: #f8f8ff;
            box-shadow: 5px 20px 30px rgb(0 0 0 / 20%);
            border-radius: 2em;
            padding: 0.5em;
            @include for-mobile {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .characteristic-img {
                height: 75px;
                width: 75px;
            }
        }
    }

    .choose-number {
        margin-top: 2em;
        display: flex;
        @include for-mobile {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0.5em;
            margin-bottom: 2em;
        }

        .change-quantity {
            margin-right: 1em;
            width: fit-content;
            border: $border;
            border-radius: 0.5em;
            display: flex;
            background-color: #f8f8ff;
            height: 3em;
            @include for-mobile {
                margin: 0;
            }

            .value-button {
                width: 30px;
                font-size: 2em;
                text-align: center;
                font-weight: bold;
                cursor: pointer;
            }

            .product-quantity {
                border: 0;
                background-color: #f8f8ff;
                width: 80px;
                text-align: center;
                font-size: 1.2em;
                -webkit-appearance: none;
                -moz-appearance: none;
                -moz-appearance: textfield;
            }
            .product-quantity::-webkit-inner-spin-button,
            .product-quantity::-webkit-outer-spin-button {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                -moz-appearance: textfield;
            }
            .product-quantity:focus {
                outline: none;
            }
        }

        .button-p {
            font-size: 1.2em;
            @include for-mobile {
                font-size: 1em;
            }
        }
    }
}

.tuto {
    padding: 100px;
    @include for-mobile {
        padding: 70px 10px 10px 10px;
    }
}

#slider,
.slider,
.slide-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 97%;
    overflow-x: hidden;
    border-radius: 4px;
}
#slider {
    @include for-mobile {
        padding-top: 1em;
    }
}

.slider {
    position: relative;

    .slide {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        animation: show-opacity 0.5s ease-in-out;

        .slide-content {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            @include for-mobile {
                width: 90%;
            }

            h2 {
                margin: 0;
                color: black;
                text-shadow: #f8f8ff 1px 1px, #f8f8ff -1px 1px,
                    #f8f8ff -1px -1px, #f8f8ff 1px -1px;
                position: absolute;
                top: 1em;
                left: 1.5em;
                @include for-mobile {
                    text-align: left;

                    left: 0.5em;

                    font-size: 1.7em;
                }
            }

            p {
                color: #f8f8ff;
                backdrop-filter: blur(60px);
                -webkit-backdrop-filter: blur(60px);
                filter: grayscale(100%);
                font-size: 1.5em;
                padding: 0.5em;
                border-radius: 1em;
                @include for-mobile {
                    font-size: 1.3em;
                    margin: 0 0.5em;
                    height: fit-content;
                    overflow: auto;
                    max-height: 50%;
                    width: 16em;
                }
            }

            .view-category {
                cursor: pointer;
                background-color: rgb(211, 211, 211, 0.8);
                color: black;
                border-color: #f8f8ff;
                margin-top: 2em;
                padding: 1em;
                font-size: 1em;
                @include for-mobile {
                    font-size: 0.8em;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%) !important;
                    bottom: 9em;
                }
            }

            .view-category:hover {
                transition: all 0.1s ease-in-out;
                transform: scale(1.1);
                text-shadow: 0;
            }
        }
    }

    .move {
        z-index: 1;
        font-size: 5em;
        color: #f8f8ff;
        cursor: pointer;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        @include for-mobile {
            font-size: 4em;
            top: 83%;
            text-shadow: black 1px 1px, black -1px 1px, black -1px -1px,
                black 1px -1px;
        }
    }

    #previous-move {
        left: 0;
        margin-left: 30px;
        @include for-mobile {
            margin-left: 50px;
        }
    }

    #next-move {
        right: 0;
        margin-right: 30px;
        @include for-mobile {
            margin-right: 50px;
        }
    }
}

@keyframes show-opacity {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.about-page {
    h2 {
        text-align: center;
    }

    h3 {
        margin: 1em auto 1em;
    }

    .brand-information {
        text-align: center;

        h1 {
            font-size: 3em;
        }

        span {
            font-size: 2em;
        }
    }

    .brand-presentation {
        width: 80%;
        margin: 0 auto;
        text-align: center;

        .team-member {
            display: flex;
            justify-content: space-around;
            margin: 2em auto;
            @include for-mobile {
                flex-direction: column;
            }

            .member {
                padding: 1em;
                background-color: #f8f8ff;
                box-shadow: 5px 20px 30px rgb(0 0 0 / 20%);
                border-radius: 20px;
                @include for-mobile {
                    margin-bottom: 1em;
                }

                .member-img {
                    height: 300px;
                    width: 300px;
                    @include for-mobile {
                        width: 100%;
                        height: 250px;
                    }
                }
            }
        }
    }

    .presentation-work {
        text-align: center;
        width: 80%;
        margin: 1em auto;
        height: 20em;
        border-radius: 2em;
        background-size: 100% 20em;
        background-repeat: no-repeat;
        @include for-mobile {
            width: 90%;
            height: 30em;
            background-size: 100% 30em;
        }

        .work-content {
            display: flex;
            flex-direction: column;
            height: 20em;
            text-shadow: #f8f8ff 1px 1px, #f8f8ff -1px 1px, #f8f8ff -1px -1px,
                #f8f8ff 1px -1px;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            padding: 1em;
            @include for-mobile {
                height: 30em;
            }

            h3 {
                margin: 0;
            }

            p {
                margin: 1em auto 0;
            }
        }
    }

    .brand-position {
        text-align: center;
        @include for-mobile {
            padding: 0 0.5em 0 0.5em;
            p {
                width: 95%;
            }
        }

        .brand-goals {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 1em;
            padding: 0 5em 2em;
            @include for-mobile {
                grid-template-columns: auto;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                padding: 0 0.5em 1em;
                margin-top: 0.5em;
            }

            .goal {
                padding: 1em;
                background-color: #f8f8ff;
                box-shadow: 5px 20px 30px rgb(0 0 0 / 20%);
                border-radius: 2em;
                margin: 2em 0;
                @include for-mobile {
                    margin: 0;
                    padding: 0.5em;
                }
            }
        }
    }
}

.nav_link a {
    @include for-mobile {
        display: none;
    }
}

.checkout-title {
    text-align: center;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.checkout-section {
    clear: both;
    padding-top: 10px;
    display: none;

    .legal-mention-checkout {
        position: relative;
        bottom: -19px;
    }
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: block;
    padding: 20px 0 0 0;
    color: #999;
}

.checkout-page {
    width: 550px;
    margin: 50px auto;
    position: relative;
    border: 1px solid #eee;
    border-radius: 7px;
    background: #fff;
    @include for-mobile {
        width: 90%;
    }

    .numberCircle {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 3px 5px;
        border: 2px solid #ccc;
        text-align: center;
        font-size: 10px;
        margin: 3px 8px;
    }

    #info-mention {
        cursor: help;
        margin: 0;
    }
}

.checkout-step {
    width: 33.3%;
    font-weight: 700;
    font-size: 14.8px;
    display: block;
    float: left;
    padding: 20px 14px;
    color: #ccc;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #fff;
    margin-bottom: 2px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 2px solid #eee;
    @include for-mobile {
        padding: 20px 5px;
        font-size: 11px;
    }
}

.checkout-page [id^="tab"]:checked + .checkout-step {
    background: #fff;
    border-bottom: 2px solid #358ed7;
    color: #358ed7;
}

.checkout-page [id^="tab"]:checked + .checkout-step > .numberCircle {
    border: 2px solid #358ed7;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 3px 5px;
    text-align: center;
    font-size: 10px;
    margin: 3px 8px;
}

.checkout-step:hover {
    background-color: #eee;
    border-radius: 0px;
}

.card-authorized {
    padding: 0.5em;
    border-bottom: 1px solid #ccc;

    .card-content {
        h4 {
            margin: 0;
        }

        .card-info {
            width: 80%;
            font-size: 1em;
            text-align: left;
            margin-left: 0;
            @include for-mobile {
                width: 100%;
            }
        }
    }

    .card-logo {
        width: 25%;
        position: absolute;
        top: 6.5em;
        right: 0;
        @include for-mobile {
            top: 5.5em;
            right: 3em;
        }

        .select-logo-sub {
            display: table-cell;
            vertical-align: middle;
        }
        .logo-spacer {
            padding-right: 13px;
        }
    }
}

.input-payement {
    border-radius: 5px;
    border: 2px solid #ccc;
    width: 100% !important;
    padding: 0.5em;
    font-size: 1em;
}

.user-info-checkout,
.user-shipping,
.payment-form {
    padding: 2em;
}

.card-name,
.card-number,
.user-info-check,
.user-ship-adress {
    margin-bottom: 1em;
}

h5 {
    margin-bottom: 0.5em;
}

.label-checkout {
    font-size: 1em;
    font-weight: bold;
}

.shipping-complement {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em 1em;
}

.payment-form {
    .card-other {
        display: flex;
        justify-content: space-between;
        padding-top: 0.5em;

        .card-expiration {
            @include for-mobile {
                width: 400px;
            }

            .choice-expiration {
                border-color: #f0f4f7;
                background-color: #f0f4f7;
                width: 100px;
                margin-right: 10px;
                border-radius: 5px;
                border-style: solid;
                border-width: 2px;
                height: 38px;
                padding-left: 15px;
                font-weight: 600;
                font-size: 11pt;
                color: #5e6977;
                cursor: pointer;
                @include for-mobile {
                    width: 60px;
                }
            }
        }

        #info-cvv {
            cursor: help;
        }
    }
}

.tab-checkout {
    display: none;
}

.checkout-label {
    font-weight: 700;
    font-size: 18.7px;
    display: block;
    float: left;
    padding: 20px 14px;
    color: #ccc;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #fff;
    margin-bottom: 2px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 2px solid #eee;
}

.checkout-input {
    width: 100%;
}

.button-master-container,
.button-master-container:hover {
    display: table;
    width: 100%;
    border-top: 1px solid #e1e8ee;
    height: 60px;
    vertical-align: bottom;
}
.button-container {
    width: 50%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #e1e8ee;
}
a,
a:hover {
    color: inherit;
    text-decoration: inherit;
}
.button-container:hover {
    background-color: #eee;
    cursor: pointer;
}
.button-finish {
    color: #7dc855;
    font-weight: 500;
    font-size: 12pt;
    background-image: url("https://www.dropbox.com/s/10d95otbo48r0hh/icon-next.png?raw=1");
    background-repeat: no-repeat;
    background-position: right 50px center;
    @include for-mobile {
        background-position: right 11px center;
    }
}

#info-cvv {
    position: relative;
}
#info-cvv::after {
    content: attr(data-title);
    position: absolute;
    background: #444;
    color: #fff;
    left: 0;
    top: 100%;
    font-size: 12px;
    width: 150px;
    padding: 5px;
    border-radius: 4px;
    transition: 300ms;
    opacity: 0;
    pointer-events: none;
    transform: translateY(15px);
}

#info-cvv:hover::after {
    opacity: 1;
    transform: translateY(5px);
}

.legalMention-page {
    h2,
    h3 {
        text-align: center;
    }

    .data-mention,
    .cgv-mention {
        width: 50%;
        margin: 2em auto;
        padding: 1.5em 0 1.5em;
        background-color: #f8f8ff;
        box-shadow: 5px 20px 30px rgb(0 0 0 / 20%);
        border-radius: 20px;
        @include for-mobile {
            width: 90%;
        }

        h3 {
            margin: 0 auto 1em;
            @include for-mobile {
                font-size: 1.8em;
            }
        }

        h4 {
            max-width: 800px;
            @include for-mobile {
                font-size: 1.2em;
                margin-left: 1em;
            }
        }

        p {
            font-size: 1.2em;
            margin-bottom: 1em;
            text-align: justify;
            @include for-mobile {
                width: 95%;
            }
        }

        a {
            color: rgb(66, 66, 66);
        }
    }
}

.info-mention {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 3px 5px;
    border: 2px solid #ccc;
    text-align: center;
    font-size: 10px;
    cursor: help;
}
