/* Variable couleur */
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap");

:root {
    --color: #9d5dea;
    --color1: dark;
    --color2: #4e3015;
    --color3: #76c453;
    --color4: #97dec6;
    --font-family: "Antonio", sans-serif;
}

$coloralter: white;

$color0: dark;

$color1: #9d5dea;

$color2: #4e3015;

$color3: #76c453;

$color4: #97dec6;

$border: 1px solid $color1;

@keyframes anim {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes anim2 {
    0% {
        transform: rotate(-20deg);
    }
    50% {
        transform: rotate(-40deg);
    }
    100% {
        transform: rotate(-20deg);
    }
}

@mixin for-mobile {
    @media (max-width: 600px) {
        @content;
    }
}
