@import url(https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap);
/* Variable couleur */
:root {
  --color: #9d5dea;
  --color1: dark;
  --color2: #4e3015;
  --color3: #76c453;
  --color4: #97dec6;
  --font-family: "Antonio", sans-serif;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes anim2 {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
.website-footer {
  height: 100px;
  width: 100%;
  background-color: #e5e4e2;
  position: absolute;
  bottom: 0;
}
@media (max-width: 600px) {
  .website-footer {
    height: 80px;
  }
}
.website-footer .first-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.3em;
  padding: 15px 0;
}
.website-footer .first-line .brand-logo {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .website-footer .first-line .brand-logo {
    display: none;
  }
}
.website-footer .first-line .brand-logo .footer-logo {
  height: 40px;
  width: 40px;
}
.website-footer .first-line .all-pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
}
@media (max-width: 600px) {
  .website-footer .first-line .all-pages {
    width: 100%;
    justify-content: space-around;
  }
}
.website-footer .first-line .all-pages a {
  color: black;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
@media (max-width: 600px) {
  .website-footer .first-line .all-pages a {
    font-size: 0.7em;
  }
}
.website-footer .first-line .all-pages a:hover {
  color: var(--color);
}
.website-footer .first-line .all-pages a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--color);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}
.website-footer .first-line .all-pages a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.website-footer .first-line .something a {
  color: black;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
@media (max-width: 600px) {
  .website-footer .first-line .something a {
    font-size: 0.7em;
  }
}
.website-footer .first-line .something a:hover {
  color: var(--color);
}
.website-footer .first-line .something a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--color);
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}
.website-footer .first-line .something a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media (max-width: 600px) {
  .website-footer .first-line .something {
    display: none;
  }
}
.website-footer .second-line {
  text-align: center;
}
.website-footer .second-line .copyright {
  font-size: 0.8em;
}

.boxContainer-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

#box-3D {
  margin: 0 auto;
}

.box-stepOne {
  position: absolute;
  top: 20%;
  width: 320px;
}
.box-stepOne .name-your-box,
.box-stepOne .name-the-person {
  padding-top: 2em;
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
}
.box-stepOne #boxname,
.box-stepOne #creator {
  width: 100%;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}
.box-stepOne #boxname:valid,
.box-stepOne #creator:valid {
  background: white;
}
.box-stepOne #boxname:focus,
.box-stepOne #creator:focus {
  border-color: var(--color);
  border-radius: 7px;
}
.box-stepOne #boxname:focus + label,
.box-stepOne #creator:focus + label {
  background: var(--color);
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
  border-radius: 8px;
}
.box-stepOne .label-name,
.box-stepOne .label-creator {
  transition: background 0.6s, color 0.6s, top 0.5s, bottom 0.5s, right 0.5s, left 0.5s;
  position: absolute;
  color: rgb(64, 64, 64);
  padding: 7px 6px;
}
.box-stepOne textarea {
  display: block;
  resize: vertical;
}

.box-stepOne input,
.box-stepOne textarea {
  padding: 12px 12px 12px 12px;
  font-size: 1.1em;
}
.box-stepOne label {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.box-stepOne input:focus,
.box-stepOne textarea:focus {
  padding: 4px 6px 20px 6px;
}
.box-stepOne input:focus + label,
.box-stepOne textarea:focus + label {
  top: 100%;
  margin-top: -16px;
}

form.go-right label {
  top: 2px;
  right: 100%;
  width: 100%;
  margin-right: -100%;
  bottom: 2px;
}
form.go-right input:focus + label,
form.go-right textarea:focus + label {
  right: 0;
  margin-right: 0;
  width: 40%;
  padding-top: 5px;
}

.submit_box {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: var(--font-family);
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1em;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.4em;
  background: transparent;
  border: 1px solid black;
  cursor: pointer;
}

.submit_box:hover {
  border: 1px solid var(--color);
}

.h3_box {
  margin: 0;
  text-decoration: underline;
  margin-bottom: 0.5em;
}

.h2_box {
  text-align: center;
}

.div_button {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  z-index: 1;
}

.custom-select {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.size-choice {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.313);
  text-align: center;
  font-family: var(--font-family);
  font-size: 1.4em;
  z-index: 1;
  height: 2em;
}

.container_box_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
}

#makerbox {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.container_makerbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logalert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 13%;
}
.logalert h2 {
  margin-bottom: 2em;
}
@media (max-width: 600px) {
  .logalert h2 {
    text-align: center;
    margin-bottom: 1em;
  }
}
.logalert h3 {
  margin-bottom: 2em;
}
@media (max-width: 600px) {
  .logalert h3 {
    text-align: center;
  }
}

.boxMaker-connect {
  padding: 1em 3em !important;
}

#boxmakerstep {
  width: 100% !important;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.container_box_select {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  gap: 50px;
  flex-flow: row nowrap;
  height: 80%;
}

.box_span {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn_boxmaker {
  color: rgb(0, 0, 0);
  font-size: 1.5em;
  font-family: "Antonio", sans-serif !important;
  font-size: 1.4em;
  background-color: white;
  border: 1px solid black;
  width: 6em;
  height: 2em;
  cursor: pointer;
}

.addon {
  gap: 2em;
}

.container_makerbox_end {
  margin-top: 20%;
  display: flex;
  justify-content: center;
}
@media (max-width: 600px) {
  .container_makerbox_end {
    margin-top: 60%;
  }
}

.container_box_info_end {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border: 1px solid white;
  border-radius: 3%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1em;
  box-shadow: 5px 10px 5px #888888;
}

@media (max-width: 600px) {
  .boxmaker-main {
    width: 100% !important;
    box-sizing: border-box !important;
    overflow-x: hidden;
  }
  .wrapper {
    width: 100% !important;
  }
  #box-3D {
    width: 100% !important;
  }
  .texture-display {
    margin: 0 1em;
  }
  #texture-choice {
    width: 100%;
  }
  .color-display {
    display: none !important;
  }
  .color-display-right {
    margin-left: 2em;
  }
  .addon {
    display: none !important;
  }
  .container_box_select {
    margin: 0 0.5em;
  }
  .btn_boxmaker {
    width: 9em;
  }
}
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #e6eaf5 0%, #f6f6f6 80%);
  position: relative;
}

.product-arrangement,
.account-page,
.container-basket,
.boxContainer-page,
.container_makerbox,
.checkout-page,
.cd-nav,
#menu_btn,
.website-footer,
.product-page,
.about-page,
.support-page,
.tuto {
  font-family: var(--font-family);
}

h1 {
  font-family: var(--font-family);
  font-style: "italic";
  color: #235233;
}

h2 {
  font-family: var(--font-family);
  font-size: 2.5em;
  margin: 1.5em auto 0.5em;
}

h3 {
  font-family: var(--font-family);
  font-size: 2em;
  margin: 1em auto 0;
  color: #4e3015;
}

h4 {
  font-family: var(--font-family);
  font-size: 1.5em;
  margin: 0.5em auto;
}

#button,
#buton,
#buttonn {
  color: black;
  background: transparent;
  border: 1px solid #9d5dea;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding: 0.4em 2em;
}

#button:hover {
  background-color: rgba(229, 228, 226, 0.4);
}

#delete {
  border: 0;
  background: transparent;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5em;
  opacity: 0.4;
  filter: drop-shadow(0px 0px 2px rgb(255, 0, 0));
}
@media (max-width: 600px) {
  #delete {
    font-size: 1em;
  }
}

#delete:hover {
  opacity: 1;
}

p {
  font-size: 1.2em;
}
@media (max-width: 600px) {
  p {
    font-size: 1em;
  }
}

input,
textarea {
  font-family: "Courier Prime", monospace;
}

.alert {
  position: fixed;
  z-index: 20;
  top: 4em;
  right: 0;
  text-align: center;
  font-weight: bold !important;
  font-family: var(--font-family);
  width: 20em;
  padding: 1em;
  border-radius: 0.7em 0 0 0.7em;
  animation: alert-slide 0.2s ease;
}
@media (max-width: 600px) {
  .alert {
    width: 15em;
  }
}
@keyframes alert-slide {
  0% {
    transform: translateX(15em);
  }
  100% {
    transform: translateX(0);
  }
}
.alert .close {
  position: absolute;
  top: 9px;
  left: 0.3em;
  border: 0;
  background: transparent;
  z-index: 20;
  font-size: 2em;
  font-weight: bold;
  opacity: 0.2;
  cursor: pointer;
}
.alert .close:hover {
  opacity: 1;
}

.alert-succes {
  color: white;
  background-color: green;
}

.alert-error {
  color: white;
  background-color: red;
}

.ribbon {
  --f: 1.5em;
  --r: 20px;
  --t: 10em;
  height: 4em;
  width: 11em;
  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto 44.5em;
  padding: 0 10px var(--f) calc(10px + var(--r));
  -webkit-clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%, calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)), var(--r) calc(50% - var(--f) / 2));
          clip-path: polygon(0 0, 100% 0, 100% calc(100% - var(--f)), calc(100% - var(--f)) 100%, calc(100% - var(--f)) calc(100% - var(--f)), 0 calc(100% - var(--f)), var(--r) calc(50% - var(--f) / 2));
  background: var(--color);
  box-shadow: 0 calc(-1 * var(--f)) 0 inset rgba(0, 0, 0, 0.3333333333);
}
.ribbon p {
  position: relative;
  left: 0;
  font-weight: bold;
  font-size: 1.5em;
  color: #fefee2;
}
@media (max-width: 600px) {
  .ribbon {
    height: 3em;
    width: 10em;
    --f: 0.5em;
    --t: 32%;
    inset: var(--t) calc(-1 * var(--f)) auto 57%;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.515);
  border-radius: 2.5px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: black;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.title-category {
  text-align: center;
  margin-bottom: 2em;
}

.research-result {
  text-align: center;
  margin-bottom: 2em;
}

.product-arrangement {
  padding: 0 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-bottom: 2em;
}
@media (max-width: 600px) {
  .product-arrangement {
    flex-direction: column;
  }
}
.product-arrangement .product-card {
  height: 30em;
  flex-basis: 21%;
  border-radius: 2em;
  overflow: hidden;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
@media (max-width: 600px) {
  .product-arrangement .product-card {
    width: 100%;
    margin-bottom: 2em;
    border-radius: 1em;
  }
}
.product-arrangement .product-card .product-image {
  height: 73%;
  width: 100%;
  border-bottom: 1px solid;
  position: relative;
  text-align: center;
}
.product-arrangement .product-card .product-image .img-product-card {
  height: 100%;
  width: auto;
}
.product-arrangement .product-card .product-image .prod-card-information {
  transition: all 0.5s, border-radius 2s, top 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.product-arrangement .product-card .product-image .prod-card-information .litle-description {
  margin: 0 auto;
}
@media (max-width: 600px) {
  .product-arrangement .product-card .product-image .prod-card-information .litle-description {
    width: 90%;
  }
}
.product-arrangement .product-card .product-image .prod-card-information span {
  margin-top: 1.5em;
}
.product-arrangement .product-card .product-image .prod-card-information span .card_dimension {
  height: 40px;
  width: 40px;
}
.product-arrangement .product-card .product-image .prod-card-information span .card_weight {
  height: 40px;
  width: 45px;
}
.product-arrangement .product-card .product-image:hover .prod-card-information {
  visibility: visible;
  opacity: 1;
}
.product-arrangement .product-card .product-content {
  height: 27%;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.product-arrangement .product-card .product-content .product-information {
  padding: 0.7em;
}
.product-arrangement .product-card .product-content .product-information .product-name {
  margin: 0 auto 0.5em;
}
.product-arrangement .product-card .product-content .product-information .product-price {
  font-size: 1.2em;
  font-weight: bold;
  color: red;
}
.product-arrangement .product-card .product-content .to-cart {
  padding: 1em;
  border-left: 1px solid;
}
.product-arrangement .product-card .product-content .to-cart .img-to-cart {
  height: 3em;
  width: 4em;
}
.product-arrangement .product-card .product-content .to-cart .img-to-cart:hover {
  transition: 0.2s;
  scale: 1.2;
}

.account-page {
  margin-top: 2em;
}
.account-page .title_info {
  text-align: center;
}
.account-page .logout-btn {
  display: flex;
  justify-content: flex-end;
  margin: 0 2em;
}
.account-page .logout-btn .logout_text {
  text-align: center;
  font-size: 1.5em;
  color: red;
  text-decoration: none;
  border: 1px solid red;
  border-radius: 0.5em;
  padding: 0.2em;
  margin-top: 0.5em;
}
.account-page .logout-btn .logout_text:hover {
  color: white;
  background-color: #dc143c;
}
.account-page .input:-moz-read-only:after {
  content: "Subscribe!";
  /* ... */
}
.account-page .input:read-only:after {
  content: "Subscribe!";
  /* ... */
}
.account-page input:-moz-read-only {
  background-color: #aaa;
  border: 1px solid #888;
}
.account-page input:read-only {
  background-color: #aaa;
  border: 1px solid #888;
}
.account-page input:-moz-read-only:hover {
  cursor: not-allowed;
}
.account-page input:read-only:hover {
  cursor: not-allowed;
}
.account-page .container_account {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: ". doll form . .";
}
@media (max-width: 600px) {
  .account-page .container_account {
    grid-template-columns: auto;
  }
}
.account-page .container_account .account {
  grid-area: form;
}
.account-page .container_account .account .user_info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 30em;
}
@media (max-width: 600px) {
  .account-page .container_account .account .user_info {
    width: 100%;
    padding-bottom: 0;
  }
}
.account-page .container_account .account .user_info .container_info .checkout-label_info {
  font-size: 1.5em;
}
.account-page .container_account .account .user_info .container_info .container_input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: ". input img";
}
.account-page .container_account .account .user_info .container_info .container_input .input_info {
  border: 0;
  border-bottom: 2px solid gray;
  -o-border-image: linear-gradient(to right, rgb(0, 158, 5), black, rgb(3, 135, 21));
     border-image: linear-gradient(to right, rgb(0, 158, 5), black, rgb(3, 135, 21));
  border-image-slice: 1;
  width: 100%;
  text-align: center;
  margin-top: 0.5em;
  grid-area: input;
  width: 15em;
}
.account-page .container_account .account .user_info .container_info .container_input .input_info[type=text] {
  font-size: 1em;
}
.account-page .container_account .account .user_info .container_info .container_input .input_info:focus {
  border-width: 5px;
  border-bottom: 2px solid gray;
  -o-border-image: linear-gradient(to right, rgb(218, 0, 247), rgba(0, 0, 0, 0.797), rgb(218, 0, 218));
     border-image: linear-gradient(to right, rgb(218, 0, 247), rgba(0, 0, 0, 0.797), rgb(218, 0, 218));
  border-image-slice: 1;
  outline: none;
}
.account-page .container_account .account .user_info .container_info .container_input .modify_tool {
  height: 40px;
  width: 40px;
  transform: rotate(-30deg);
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.4980392157));
  grid-area: img;
  cursor: pointer;
}
.account-page .container_account .account .user_info .container_info .container_input .modify_tool:hover {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8117647059));
}
.account-page .container_account .account .user_info .submit_info {
  font-size: 1.3em;
  margin: auto;
  padding: 0.2em 1em;
}

.support-page {
  text-align: center;
}
@media (max-width: 600px) {
  .support-page {
    margin-bottom: 0;
  }
  .support-page h2 {
    margin-top: 0.5em;
  }
}
.support-page .img-support {
  max-width: 150px;
  height: auto;
  position: absolute;
  top: 30%;
  z-index: 10;
}
@media (max-width: 600px) {
  .support-page .img-support {
    width: 50px;
    height: 50px;
    top: 3%;
  }
}
.support-page .support-left {
  left: 10%;
  animation: anim2 4s infinite;
  transform: rotate(-20deg);
}
@media (max-width: 600px) {
  .support-page .support-left {
    display: none;
  }
}
.support-page .support-right {
  right: 10%;
  animation: anim 4s infinite;
}
.support-page .form-text {
  width: 40%;
  font-size: 1.5em;
  text-align: center;
  margin: 2em auto;
  color: black !important;
}
@media (max-width: 600px) {
  .support-page .form-text {
    width: 80%;
    font-size: 1.2em;
    margin: 0 auto;
  }
}
.support-page .form-support {
  background-color: #f8f8ff;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 1em;
  margin: auto;
  font-size: 1.5em;
}
@media (max-width: 600px) {
  .support-page .form-support {
    padding: 1em;
    margin: 0.5em auto;
    border-radius: 1em;
  }
}
.support-page .form-support .first-half {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  gap: 1em;
}
@media (max-width: 600px) {
  .support-page .form-support .first-half {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
}
.support-page .form-support .first-half .input-support {
  width: 20em;
  border: 1px solid #9d5dea;
  border-radius: 1em;
  box-shadow: 0 1px 1px rgb(157, 93, 234);
  padding: 1em 0.5em;
  outline: 0;
}
.support-page .form-support .second-half {
  margin-top: 1em;
  width: 100%;
}
@media (max-width: 600px) {
  .support-page .form-support .second-half {
    width: 90%;
  }
}
.support-page .form-support .second-half .message-support {
  width: 100%;
  height: 10em;
  border: 1px solid #9d5dea;
  border-radius: 1em;
  box-shadow: 0 1px 1px rgb(157, 93, 234);
  padding: 1em;
}
@media (max-width: 600px) {
  .support-page .form-support .second-half .message-support {
    height: 5em;
  }
}
.support-page .form-support .second-half .input-submit {
  width: 10em;
  height: 3em;
  margin: 1.5em auto 0;
  border: 1px solid #9d5dea;
  box-shadow: 0 1px 1px rgb(157, 93, 234);
}

.legal-mention-support,
.legal-mention-account {
  text-align: left;
  font-size: 0.5em;
  margin: 1em 0 0.5em;
  color: rgb(66, 66, 66);
}

.container-basket {
  margin: 0 5%;
}
@media (max-width: 600px) {
  .container-basket {
    margin: 0;
  }
}
.container-basket h2 {
  text-align: center;
}
.container-basket .basket,
.container-basket aside {
  margin: 3em 1em;
  box-sizing: border-box;
}
.container-basket .basket {
  width: 70%;
}
@media (max-width: 600px) {
  .container-basket .basket {
    width: 95%;
    margin: 2em auto 0;
  }
}
.container-basket .basket .item-list {
  width: 100%;
  border-collapse: collapse;
}
@media (max-width: 600px) {
  .container-basket .basket .item-list {
    width: 95%;
  }
}
.container-basket .basket .item-list .table-head {
  width: 90%;
  height: 50px;
}
.container-basket .basket .item-list .table-head .name-category {
  width: 25%;
}
.container-basket .basket .item-list .table-body .board-line {
  width: 100%;
  border-top: 1px solid #9d5dea;
  font-size: 1.1em;
  height: 60px;
}
.container-basket .basket .item-list .table-body .board-line .product-name-cart {
  margin: auto;
}
.container-basket .basket .item-list .table-body .board-line .product-name-cart .name-cart-prod {
  color: black;
}
@media (max-width: 600px) {
  .container-basket .basket .item-list .table-body .board-line .product-name-cart .name-cart-prod {
    font-size: 1em;
  }
}
.container-basket .basket .item-list .table-body .board-line #row-product {
  width: 25%;
  text-align: center;
}
@media (max-width: 600px) {
  .container-basket .basket .item-list .table-body .board-line #row-product {
    width: 20%;
  }
}
.container-basket .basket .item-list .table-body .board-line .product-quantity-cart .change-quantity {
  display: flex;
  background-color: #f8f8ff;
  border: 1px solid #9d5dea;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  margin: 15px auto;
}
.container-basket .basket .item-list .table-body .board-line .product-quantity-cart .change-quantity .product-quantity {
  border: none;
  text-align: center;
  width: 50px;
}
@media (max-width: 600px) {
  .container-basket .basket .item-list .table-body .board-line .product-quantity-cart .change-quantity .product-quantity {
    width: 30px;
  }
}
.container-basket .basket .item-list .table-body .board-line .product-quantity-cart .change-quantity .product-quantity::-webkit-inner-spin-button,
.container-basket .basket .item-list .table-body .board-line .product-quantity-cart .change-quantity .product-quantity::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: textfield;
}
.container-basket .basket .item-list .table-body .board-line .product-quantity-cart .change-quantity .value-button {
  height: 30px;
}
.container-basket .basket .item-list .table-body .board-line .product-quantity-cart .change-quantity .value-button button {
  border: none;
  background-color: transparent !important;
  height: 30px;
  width: 20px;
  font-size: 2em;
  font-family: var(--font-family);
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: -12px;
}
.container-basket .basket .item-list .table-body .board-line .delete-product {
  position: relative;
  top: 2px;
  right: 1em;
}
@media (max-width: 600px) {
  .container-basket .basket .item-list .table-body .board-line .delete-product {
    right: -5px;
  }
}
.container-basket .basket .empty-cart {
  float: right;
}
@media (max-width: 600px) {
  .container-basket .basket .empty-cart {
    margin-top: 0.5em;
  }
}
.container-basket .basket .coupon-and-instruction {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 10%;
  margin-top: 2em;
}
@media (max-width: 600px) {
  .container-basket .basket .coupon-and-instruction {
    grid-template-columns: auto;
    text-align: center;
    gap: 2%;
  }
}
.container-basket .basket .coupon-and-instruction h3 {
  margin-bottom: 0.5em;
}
.container-basket .basket .coupon-and-instruction .text-cart {
  font-size: 20px;
  text-align: left;
  color: black;
}
.container-basket .basket .coupon-and-instruction .input-coupon,
.container-basket .basket .coupon-and-instruction .form-control {
  width: 75%;
  border: 1px solid #9d5dea;
  box-shadow: 0 1px 1px rgb(157, 93, 234);
  border-radius: 1em;
  padding: 0.5em;
  margin: 1em 0;
  line-height: 1.5em;
}
@media (max-width: 600px) {
  .container-basket .basket .coupon-and-instruction .input-coupon,
  .container-basket .basket .coupon-and-instruction .form-control {
    width: 90%;
  }
}
.container-basket .basket .coupon-and-instruction .apply-button {
  font-size: 1em;
}
.container-basket .item-summary {
  width: 350px;
  background-color: #f8f8ff;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 1rem;
  position: fixed;
  right: 3em;
  top: 6em;
  text-align: center;
}
@media (max-width: 600px) {
  .container-basket .item-summary {
    position: static;
    width: 95%;
    margin: 2em auto 2em;
  }
}
.container-basket .item-summary h4 {
  margin: 0 auto;
}
.container-basket .item-summary .subtotal-and-total {
  display: grid;
  grid-template-rows: 1fr;
  gap: 15px;
  margin: 20px auto;
  font-size: 1.1em;
}
.container-basket .item-summary .subtotal-and-total .subtotal-price,
.container-basket .item-summary .subtotal-and-total .total-price {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid;
  padding-top: 15px;
}
.container-basket .item-summary .subtotal-and-total .total-price {
  font-size: 1.3em;
  margin-bottom: 15px;
}
.container-basket .item-summary .delete-form {
  height: 1px;
}
.container-basket .item-summary .delete-coupon {
  position: relative;
  top: -2px;
  left: -95px;
}
@media (max-width: 600px) {
  .container-basket .item-summary .delete-coupon {
    left: -85px;
    top: 0px;
  }
}

#empty-cart {
  text-align: center;
  margin: 15em 2em;
}
@media (max-width: 600px) {
  #empty-cart {
    margin: 10em 2em 0;
    display: flex;
    flex-direction: column;
  }
}
#empty-cart .empty_cart {
  display: flex;
  justify-content: center;
}
#empty-cart .empty_cart .empty_basket {
  width: -moz-fit-content;
  width: fit-content;
  margin: 1em 0.5em;
}
@media (max-width: 600px) {
  #empty-cart .empty_cart .empty_basket {
    margin: 0;
  }
}
#empty-cart .empty_cart .shopping_girl {
  height: 10em;
}
@media (max-width: 600px) {
  #empty-cart .empty_cart .shopping_girl {
    display: none;
  }
}
#empty-cart .next-step {
  margin: 1.5em auto;
}
#empty-cart .start-purchase-btn {
  padding: 1em 3em;
}
@media (max-width: 600px) {
  #empty-cart .start-purchase-btn {
    margin-bottom: 1em;
  }
}

.product-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4em 5% 0;
  overflow-x: hidden;
}
@media (max-width: 600px) {
  .product-page {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}
@media (max-width: 600px) {
  .product-page .product-model-3D h2 {
    text-align: center;
    margin-top: 0;
  }
  .product-page .product-model-3D .date-creation-p {
    text-align: left;
  }
}
.product-page .product-model-3D .product-name-p,
.product-page .product-model-3D .date-creation-p {
  display: none;
}
@media (max-width: 600px) {
  .product-page .product-model-3D .product-name-p,
  .product-page .product-model-3D .date-creation-p {
    display: block;
  }
}
.product-page .product-model-3D .prod-img-3D {
  margin: 4.5em auto 0;
}
@media (max-width: 600px) {
  .product-page .product-model-3D .prod-img-3D {
    width: 100%;
  }
}
.product-page .product-content h3 {
  margin-bottom: 0.5em;
}
.product-page .product-content .product-name-p,
.product-page .product-content .date-creation-p {
  display: block;
}
@media (max-width: 600px) {
  .product-page .product-content .product-name-p,
  .product-page .product-content .date-creation-p {
    display: none;
  }
}
.product-page .product-content .date-creation-p,
.product-page .product-content .product-description-page {
  text-align: left;
}
@media (max-width: 600px) {
  .product-page .product-content .description-page {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .product-page .product-content .description-page .product-description-page {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .product-page .characteristic-page h3 {
    text-align: center;
  }
}
.product-page .characteristic-page .button-characteristic {
  display: none;
}
@media (max-width: 600px) {
  .product-page .characteristic-page .button-characteristic {
    display: block;
    transform: rotate(90deg);
    font-size: 2em;
    position: relative;
    top: 2.8em;
    right: -4em;
  }
}
.product-page .display-characteristic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5em;
}
@media (max-width: 600px) {
  .product-page .display-characteristic {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
.product-page .display-characteristic .characteristic {
  text-align: center;
  background-color: #f8f8ff;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  padding: 0.5em;
}
@media (max-width: 600px) {
  .product-page .display-characteristic .characteristic {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.product-page .display-characteristic .characteristic .characteristic-img {
  height: 75px;
  width: 75px;
}
.product-page .choose-number {
  margin-top: 2em;
  display: flex;
}
@media (max-width: 600px) {
  .product-page .choose-number {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    margin-bottom: 2em;
  }
}
.product-page .choose-number .change-quantity {
  margin-right: 1em;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #9d5dea;
  border-radius: 0.5em;
  display: flex;
  background-color: #f8f8ff;
  height: 3em;
}
@media (max-width: 600px) {
  .product-page .choose-number .change-quantity {
    margin: 0;
  }
}
.product-page .choose-number .change-quantity .value-button {
  width: 30px;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.product-page .choose-number .change-quantity .product-quantity {
  border: 0;
  background-color: #f8f8ff;
  width: 80px;
  text-align: center;
  font-size: 1.2em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: textfield;
}
.product-page .choose-number .change-quantity .product-quantity::-webkit-inner-spin-button,
.product-page .choose-number .change-quantity .product-quantity::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: textfield;
}
.product-page .choose-number .change-quantity .product-quantity:focus {
  outline: none;
}
.product-page .choose-number .button-p {
  font-size: 1.2em;
}
@media (max-width: 600px) {
  .product-page .choose-number .button-p {
    font-size: 1em;
  }
}

.tuto {
  padding: 100px;
}
@media (max-width: 600px) {
  .tuto {
    padding: 70px 10px 10px 10px;
  }
}

#slider,
.slider,
.slide-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 97%;
  overflow-x: hidden;
  border-radius: 4px;
}

@media (max-width: 600px) {
  #slider {
    padding-top: 1em;
  }
}

.slider {
  position: relative;
}
.slider .slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: show-opacity 0.5s ease-in-out;
}
.slider .slide .slide-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 600px) {
  .slider .slide .slide-content {
    width: 90%;
  }
}
.slider .slide .slide-content h2 {
  margin: 0;
  color: black;
  text-shadow: #f8f8ff 1px 1px, #f8f8ff -1px 1px, #f8f8ff -1px -1px, #f8f8ff 1px -1px;
  position: absolute;
  top: 1em;
  left: 1.5em;
}
@media (max-width: 600px) {
  .slider .slide .slide-content h2 {
    text-align: left;
    left: 0.5em;
    font-size: 1.7em;
  }
}
.slider .slide .slide-content p {
  color: #f8f8ff;
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  filter: grayscale(100%);
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 1em;
}
@media (max-width: 600px) {
  .slider .slide .slide-content p {
    font-size: 1.3em;
    margin: 0 0.5em;
    height: -moz-fit-content;
    height: fit-content;
    overflow: auto;
    max-height: 50%;
    width: 16em;
  }
}
.slider .slide .slide-content .view-category {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.8);
  color: black;
  border-color: #f8f8ff;
  margin-top: 2em;
  padding: 1em;
  font-size: 1em;
}
@media (max-width: 600px) {
  .slider .slide .slide-content .view-category {
    font-size: 0.8em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) !important;
    bottom: 9em;
  }
}
.slider .slide .slide-content .view-category:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
  text-shadow: 0;
}
.slider .move {
  z-index: 1;
  font-size: 5em;
  color: #f8f8ff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}
@media (max-width: 600px) {
  .slider .move {
    font-size: 4em;
    top: 83%;
    text-shadow: black 1px 1px, black -1px 1px, black -1px -1px, black 1px -1px;
  }
}
.slider #previous-move {
  left: 0;
  margin-left: 30px;
}
@media (max-width: 600px) {
  .slider #previous-move {
    margin-left: 50px;
  }
}
.slider #next-move {
  right: 0;
  margin-right: 30px;
}
@media (max-width: 600px) {
  .slider #next-move {
    margin-right: 50px;
  }
}

@keyframes show-opacity {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.about-page h2 {
  text-align: center;
}
.about-page h3 {
  margin: 1em auto 1em;
}
.about-page .brand-information {
  text-align: center;
}
.about-page .brand-information h1 {
  font-size: 3em;
}
.about-page .brand-information span {
  font-size: 2em;
}
.about-page .brand-presentation {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.about-page .brand-presentation .team-member {
  display: flex;
  justify-content: space-around;
  margin: 2em auto;
}
@media (max-width: 600px) {
  .about-page .brand-presentation .team-member {
    flex-direction: column;
  }
}
.about-page .brand-presentation .team-member .member {
  padding: 1em;
  background-color: #f8f8ff;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
@media (max-width: 600px) {
  .about-page .brand-presentation .team-member .member {
    margin-bottom: 1em;
  }
}
.about-page .brand-presentation .team-member .member .member-img {
  height: 300px;
  width: 300px;
}
@media (max-width: 600px) {
  .about-page .brand-presentation .team-member .member .member-img {
    width: 100%;
    height: 250px;
  }
}
.about-page .presentation-work {
  text-align: center;
  width: 80%;
  margin: 1em auto;
  height: 20em;
  border-radius: 2em;
  background-size: 100% 20em;
  background-repeat: no-repeat;
}
@media (max-width: 600px) {
  .about-page .presentation-work {
    width: 90%;
    height: 30em;
    background-size: 100% 30em;
  }
}
.about-page .presentation-work .work-content {
  display: flex;
  flex-direction: column;
  height: 20em;
  text-shadow: #f8f8ff 1px 1px, #f8f8ff -1px 1px, #f8f8ff -1px -1px, #f8f8ff 1px -1px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 1em;
}
@media (max-width: 600px) {
  .about-page .presentation-work .work-content {
    height: 30em;
  }
}
.about-page .presentation-work .work-content h3 {
  margin: 0;
}
.about-page .presentation-work .work-content p {
  margin: 1em auto 0;
}
.about-page .brand-position {
  text-align: center;
}
@media (max-width: 600px) {
  .about-page .brand-position {
    padding: 0 0.5em 0 0.5em;
  }
  .about-page .brand-position p {
    width: 95%;
  }
}
.about-page .brand-position .brand-goals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  padding: 0 5em 2em;
}
@media (max-width: 600px) {
  .about-page .brand-position .brand-goals {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 0 0.5em 1em;
    margin-top: 0.5em;
  }
}
.about-page .brand-position .brand-goals .goal {
  padding: 1em;
  background-color: #f8f8ff;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  margin: 2em 0;
}
@media (max-width: 600px) {
  .about-page .brand-position .brand-goals .goal {
    margin: 0;
    padding: 0.5em;
  }
}

@media (max-width: 600px) {
  .nav_link a {
    display: none;
  }
}

.checkout-title {
  text-align: center;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.checkout-section {
  clear: both;
  padding-top: 10px;
  display: none;
}
.checkout-section .legal-mention-checkout {
  position: relative;
  bottom: -19px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
  padding: 20px 0 0 0;
  color: #999;
}

.checkout-page {
  width: 550px;
  margin: 50px auto;
  position: relative;
  border: 1px solid #eee;
  border-radius: 7px;
  background: #fff;
}
@media (max-width: 600px) {
  .checkout-page {
    width: 90%;
  }
}
.checkout-page .numberCircle {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 3px 5px;
  border: 2px solid #ccc;
  text-align: center;
  font-size: 10px;
  margin: 3px 8px;
}
.checkout-page #info-mention {
  cursor: help;
  margin: 0;
}

.checkout-step {
  width: 33.3%;
  font-weight: 700;
  font-size: 14.8px;
  display: block;
  float: left;
  padding: 20px 14px;
  color: #ccc;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #fff;
  margin-bottom: 2px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 2px solid #eee;
}
@media (max-width: 600px) {
  .checkout-step {
    padding: 20px 5px;
    font-size: 11px;
  }
}

.checkout-page [id^=tab]:checked + .checkout-step {
  background: #fff;
  border-bottom: 2px solid #358ed7;
  color: #358ed7;
}

.checkout-page [id^=tab]:checked + .checkout-step > .numberCircle {
  border: 2px solid #358ed7;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 3px 5px;
  text-align: center;
  font-size: 10px;
  margin: 3px 8px;
}

.checkout-step:hover {
  background-color: #eee;
  border-radius: 0px;
}

.card-authorized {
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}
.card-authorized .card-content h4 {
  margin: 0;
}
.card-authorized .card-content .card-info {
  width: 80%;
  font-size: 1em;
  text-align: left;
  margin-left: 0;
}
@media (max-width: 600px) {
  .card-authorized .card-content .card-info {
    width: 100%;
  }
}
.card-authorized .card-logo {
  width: 25%;
  position: absolute;
  top: 6.5em;
  right: 0;
}
@media (max-width: 600px) {
  .card-authorized .card-logo {
    top: 5.5em;
    right: 3em;
  }
}
.card-authorized .card-logo .select-logo-sub {
  display: table-cell;
  vertical-align: middle;
}
.card-authorized .card-logo .logo-spacer {
  padding-right: 13px;
}

.input-payement {
  border-radius: 5px;
  border: 2px solid #ccc;
  width: 100% !important;
  padding: 0.5em;
  font-size: 1em;
}

.user-info-checkout,
.user-shipping,
.payment-form {
  padding: 2em;
}

.card-name,
.card-number,
.user-info-check,
.user-ship-adress {
  margin-bottom: 1em;
}

h5 {
  margin-bottom: 0.5em;
}

.label-checkout {
  font-size: 1em;
  font-weight: bold;
}

.shipping-complement {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em 1em;
}

.payment-form .card-other {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
}
@media (max-width: 600px) {
  .payment-form .card-other .card-expiration {
    width: 400px;
  }
}
.payment-form .card-other .card-expiration .choice-expiration {
  border-color: #f0f4f7;
  background-color: #f0f4f7;
  width: 100px;
  margin-right: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  height: 38px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 11pt;
  color: #5e6977;
  cursor: pointer;
}
@media (max-width: 600px) {
  .payment-form .card-other .card-expiration .choice-expiration {
    width: 60px;
  }
}
.payment-form .card-other #info-cvv {
  cursor: help;
}

.tab-checkout {
  display: none;
}

.checkout-label {
  font-weight: 700;
  font-size: 18.7px;
  display: block;
  float: left;
  padding: 20px 14px;
  color: #ccc;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #fff;
  margin-bottom: 2px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 2px solid #eee;
}

.checkout-input {
  width: 100%;
}

.button-master-container,
.button-master-container:hover {
  display: table;
  width: 100%;
  border-top: 1px solid #e1e8ee;
  height: 60px;
  vertical-align: bottom;
}

.button-container {
  width: 50%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #e1e8ee;
}

a,
a:hover {
  color: inherit;
  text-decoration: inherit;
}

.button-container:hover {
  background-color: #eee;
  cursor: pointer;
}

.button-finish {
  color: #7dc855;
  font-weight: 500;
  font-size: 12pt;
  background-image: url("https://www.dropbox.com/s/10d95otbo48r0hh/icon-next.png?raw=1");
  background-repeat: no-repeat;
  background-position: right 50px center;
}
@media (max-width: 600px) {
  .button-finish {
    background-position: right 11px center;
  }
}

#info-cvv {
  position: relative;
}

#info-cvv::after {
  content: attr(data-title);
  position: absolute;
  background: #444;
  color: #fff;
  left: 0;
  top: 100%;
  font-size: 12px;
  width: 150px;
  padding: 5px;
  border-radius: 4px;
  transition: 300ms;
  opacity: 0;
  pointer-events: none;
  transform: translateY(15px);
}

#info-cvv:hover::after {
  opacity: 1;
  transform: translateY(5px);
}

.legalMention-page h2,
.legalMention-page h3 {
  text-align: center;
}
.legalMention-page .data-mention,
.legalMention-page .cgv-mention {
  width: 50%;
  margin: 2em auto;
  padding: 1.5em 0 1.5em;
  background-color: #f8f8ff;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
@media (max-width: 600px) {
  .legalMention-page .data-mention,
  .legalMention-page .cgv-mention {
    width: 90%;
  }
}
.legalMention-page .data-mention h3,
.legalMention-page .cgv-mention h3 {
  margin: 0 auto 1em;
}
@media (max-width: 600px) {
  .legalMention-page .data-mention h3,
  .legalMention-page .cgv-mention h3 {
    font-size: 1.8em;
  }
}
.legalMention-page .data-mention h4,
.legalMention-page .cgv-mention h4 {
  max-width: 800px;
}
@media (max-width: 600px) {
  .legalMention-page .data-mention h4,
  .legalMention-page .cgv-mention h4 {
    font-size: 1.2em;
    margin-left: 1em;
  }
}
.legalMention-page .data-mention p,
.legalMention-page .cgv-mention p {
  font-size: 1.2em;
  margin-bottom: 1em;
  text-align: justify;
}
@media (max-width: 600px) {
  .legalMention-page .data-mention p,
  .legalMention-page .cgv-mention p {
    width: 95%;
  }
}
.legalMention-page .data-mention a,
.legalMention-page .cgv-mention a {
  color: rgb(66, 66, 66);
}

.info-mention {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 3px 5px;
  border: 2px solid #ccc;
  text-align: center;
  font-size: 10px;
  cursor: help;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#menu_btn {
  border: 2px solid rgba(151, 0, 156, 0.3);
  font-size: 20pt;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 3px;
  background: white;
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
  cursor: pointer;
}

#menu_btn:hover {
  border: 2px solid rgba(207, 0, 214, 0.3);
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.815);
}

#logo_btn:hover {
  filter: drop-shadow(1px 1px 20px #ffffff);
}

/* -------------------------------- 

Primary style

-------------------------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  /* prevent horizontal scrolling */
  overflow-x: hidden;
}

a {
  color: #9cb3a8;
  text-decoration: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */
main {
  position: relative;
  z-index: 2;
  /* fix bug on iOS */
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #e6eaf5;
  /* Force Hardware Acceleration in WebKit */
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0.91, 0.01, 0.6, 0.99);
}

main h1,
main p {
  text-align: center;
}

main h1 {
  font-size: 2.6rem;
  margin-bottom: 1em;
}

main p {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.navigation-is-open main {
  transform: translateX(100%);
}

@media only screen and (min-width: 768px) {
  main h1 {
    font-size: 3.6rem;
  }
}
.cd-nav-trigger {
  position: fixed;
  z-index: 3;
  left: 5%;
  top: 20px;
  height: 54px;
  width: 54px;
  background-color: #242040;
  border-radius: 50%;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  transition: transform 0.5s;
}

.cd-nav-trigger .cd-nav-icon {
  /* icon created in CSS */
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  width: 22px;
  height: 2px;
  background-color: #ffffff;
}

.cd-nav-trigger .cd-nav-icon::before,
.cd-nav-trigger .cd-nav-icon:after {
  /* upper and lower lines of the menu icon */
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  /* Force Hardware Acceleration in WebKit */
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.5s, width 0.5s, top 0.3s;
}

.cd-nav-trigger .cd-nav-icon::before {
  transform-origin: right top;
  transform: translateY(-6px);
}

.cd-nav-trigger .cd-nav-icon::after {
  transform-origin: right bottom;
  transform: translateY(6px);
}

.no-touch .cd-nav-trigger:hover .cd-nav-icon::after {
  top: 2px;
}

.no-touch .cd-nav-trigger:hover .cd-nav-icon::before {
  top: -2px;
}

.cd-nav-trigger svg {
  position: absolute;
  top: 0;
  left: 0;
}

.cd-nav-trigger circle {
  /* circle border animation */
  transition: stroke-dashoffset 0.4s 0s;
}

.navigation-is-open .cd-nav-trigger {
  /* rotate trigger when navigation becomes visible */
  transform: rotate(180deg);
}

.navigation-is-open .cd-nav-trigger .cd-nav-icon::after,
.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  /* animate arrow --> from hamburger to arrow */
  width: 50%;
  transition: transform 0.5s, width 0.5s;
}

.navigation-is-open .cd-nav-trigger .cd-nav-icon::before {
  transform: rotate(45deg);
}

.navigation-is-open .cd-nav-trigger .cd-nav-icon::after {
  transform: rotate(-45deg);
}

.no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::after,
.no-touch .navigation-is-open .cd-nav-trigger:hover .cd-nav-icon::before {
  top: 0;
}

.navigation-is-open .cd-nav-trigger circle {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.4s 0.3s;
}

@media only screen and (min-width: 1170px) {
  .cd-nav-trigger {
    top: 40px;
  }
}
.cd-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(50, 67, 90);
  visibility: hidden;
  transition: visibility 0s 0.7s;
}

.cd-nav .cd-navigation-wrapper {
  /* all navigation content */
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 40px 5% 40px calc(5% + 80px);
  /* Force Hardware Acceleration in WebKit */
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateX(-50%);
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
}

.navigation-is-open .cd-nav {
  visibility: visible;
  transition: visibility 0s 0s;
}

.navigation-is-open .cd-nav .cd-navigation-wrapper {
  transform: translateX(0);
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.cd-nav h2 {
  position: relative;
  margin-bottom: 1.7em;
  font-size: 2rem;
  font-weight: 800;
  color: #080b0f !important;
  text-transform: uppercase;
}

.cd-nav h2::after {
  /* bottom separation line */
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  height: 1px;
  width: 60px;
  background-color: currentColor;
}

.cd-nav .cd-primary-nav {
  margin-top: 60px;
}

.cd-nav .cd-primary-nav li {
  margin: 1.6em 0;
}

.cd-nav .cd-primary-nav a {
  font-family: "Merriweather", serif;
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.3) !important;
  display: inline-block;
}

.cd-nav .cd-primary-nav a.selected {
  color: #ffffff !important;
}

.no-touch .cd-nav .cd-primary-nav a:hover {
  color: #ffffff !important;
}

.cd-nav .cd-contact-info {
  margin-top: 80px;
}

.cd-nav .cd-contact-info li {
  font-family: "Merriweather", serif;
  margin-bottom: 1.5em;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.3) !important;
}

.cd-nav .cd-contact-info a {
  color: #ffffff !important;
}

.cd-nav .cd-contact-info span {
  display: block;
}

.cd-nav .cd-contact-info li,
.cd-nav .cd-contact-info a,
.cd-nav .cd-contact-info span {
  font-size: 1.6rem;
}

@media only screen and (min-width: 1170px) {
  .cd-nav .cd-navigation-wrapper {
    padding: 62px 20%;
  }
  .cd-nav .cd-navigation-wrapper::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-nav .cd-half-block {
    width: 50%;
    float: left;
  }
}
@media only screen and (min-width: 1170px) and (max-width: 600px) {
  .cd-nav .cd-half-block {
    width: 90%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-nav .cd-primary-nav {
    margin-top: 0;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-nav h2 {
    font-size: 1.5rem;
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-nav .cd-primary-nav li {
    margin: 1em 0em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-nav .cd-primary-nav a {
    font-size: 4.4rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-nav .cd-contact-info {
    margin-top: 120px;
    text-align: right;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-nav .cd-contact-info li {
    margin-bottom: 2.4em;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-nav .cd-contact-info li,
  .cd-nav .cd-contact-info a,
  .cd-nav .cd-contact-info span {
    font-size: 2rem;
  }
}
.no-js main {
  height: auto;
  overflow: visible;
}

.no-js .cd-nav {
  position: static;
  visibility: visible;
}

.no-js .cd-nav .cd-navigation-wrapper {
  height: auto;
  overflow: visible;
  padding: 100px 5%;
  transform: translateX(0);
}

.logo_container {
  position: absolute;
  left: 5%;
  top: 30%;
  transform: translateY(-50%);
}

.container_account_basket {
  position: absolute;
  z-index: 1;
  right: 1%;
  top: 45%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.link {
  display: flex;
  flex-direction: column;
}

.img_link {
  width: 100px;
  height: 100px;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.6));
}

* {
  box-sizing: border-box;
}

.count-basket {
  position: absolute;
  bottom: 0;
  font-size: 2em;
  left: 50%;
  transform: translateX(-50%) !important;
  font-family: "Inter var", sans-serif !important;
}

.login-home {
  font-size: 1.5em;
  font-family: "Inter var", sans-serif !important;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%) !important;
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}

.responsive-laptop {
  display: none;
}

#item1 {
  grid-column-end: span 2;
}

address h2 {
  display: none;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
}

.search_img {
  width: 25px;
  height: 25px;
  transform: translateY(8px);
}

.search-button {
  background: none;
  border: none;
}

.search_bar_input {
  height: 30px;
  border: solid 2px rgba(128, 26, 141, 0.603);
}

@media (max-width: 600px) {
  .cd-navigation-wrapper {
    width: 100%;
    padding: 100px 2% !important;
  }
  .logo_container {
    position: relative;
    top: -3em;
    left: 82%;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 !important;
  }
  #logo_btn {
    height: 5em;
    width: 3em;
  }
  #nav-responsive {
    display: none;
  }
  .img_link {
    height: 5em;
    width: 3em;
  }
  .cd-primary-nav {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2em 0.5em;
  }
  .cd-primary-nav li {
    height: -moz-fit-content;
    height: fit-content;
    margin: 0 !important;
  }
  .cd-primary-nav #menu_btn {
    font-size: 0.5em;
    width: 8em;
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
  }
  address h2 {
    display: block;
    margin: 1em 0 0.5em !important;
  }
  .cd-contact-info {
    margin-top: 40px !important;
  }
  .responsive-laptop {
    display: block;
  }
  .cart {
    display: none;
  }
  .count-basket {
    display: none;
  }
  .search-bar {
    position: absolute;
    top: 9em;
  }
}
.loading {
  background-color: aqua;
}

#loader {
  width: 100%;
  height: 100vh;
  background: rgba(201, 198, 197, 0.5) !important;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  z-index: 3;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots div {
  height: 100px;
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
  animation: rotate360 1.2s ease infinite;
  width: 5px;
  animation-delay: calc(70ms * var(--d));
}

@keyframes rotate360 {
  0% {
    /*        width: 5px;*/
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    width: 5px;
  }
}
