/* Special css for the landing in order to load minimum of css */
html,
body,
#category {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(180deg, #e6eaf5 0%, #f6f6f6 80%);
}
.nav_link a {
    color: black;
    text-decoration: none;
    border-left: 3px solid #9d5dea;
    border-radius: 5px;
}
.backdrop_text {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
}

@media (max-width: 600px) {
    .content {
        width: 100%;
    }
    .backdrop_text {
        left: 50% !important;
        transform: translateX(-50%) !important;
        top: 60% !important;
        width: 80% !important;
    }
    .infoproduct {
        font-size: 20px !important;
    }
}
